<div class="container fadeInFast"  style="height: 90vh;">
  <div class="my-3" *ngIf="!firebaseStorageService.storageItemsLoad && !firebaseStorageService.storagePrefixesLoad">
    <div class="card" style="background-color: #fff6;">
      <div class="col-md-12">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Size</th>
                      <th>Type</th>
                      <th>Created</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="firebaseStorageService.storagePrefixes.length > 0">
                      <tr *ngFor="let prefix of firebaseStorageService.storagePrefixes; let j = index">
                        <td><code lang="">{{!prefix.isParent ? prefix.name+'/' : '../'}}</code></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                          <button (click)="firebaseStorageService.getPrefixFiles(prefix)" class="btn btn-outline-primary btn-sm">Go to Directory</button>
                        </td>
                      </tr>
                    </ng-container>
                    <tr *ngFor="let item of firebaseStorageService.storageItems">
                      <td>{{item.name}}</td>
                      <td>{{humanFileSize(item.metadata.size)}}</td>
                      <td>{{item.metadata.contentType}}</td>
                      <td>{{item.metadata.timeCreated}}</td>
                      <td>
                        <a [href]="item.url" target="_blank" [download]="item.name" class="btn btn-sm btn-outline-secondary me-3">View</a>
                        <button *ngIf="authService.authData.user.role === 'admin'" class="btn btn-sm btn-outline-danger" (click)="firebaseStorageService.deleteItem(item.name)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center my-3" *ngIf="firebaseStorageService.storageItemsLoad || firebaseStorageService.storagePrefixesLoad">
    <div class="spinner-border text-primary mb-3" role="status">
    </div>    
    <span *ngIf="authService.authData.user.role === 'user'">Please wait while we are fetching the files</span>
    <span *ngIf="authService.authData.user.role === 'admin'">Please wait while we are fetching your files</span>
  </div>
</div>
