.card {
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #f6f6f6 !important;
    transition: 1s all;
  }
  &:not(:hover) {
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff6 !important;
    transition: 0.4s all;
  }
}