/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html,body {
  height: 100%;
  background: url('assets/bg.jpg');
}
.mat {
  &-blue {
    background: #38448b;
    color: #fff;
    &:hover {
      background: #38448b;
      color: #fff;
    }
  }
  &-white {
    background: #fff;
    color: #38448b;
    &:hover {
      background: #fff;
      color: #38448b;
    }
  }
}
.fadeInFast {
  animation-duration: 0.5s;
  animation-name: fadeIn;
}
.btn {
  &.btn-primary {
    background-color: #51617E !important;
    border-color: #51617E !important;
    color: #fff;
  }
  &.btn-outline-primary {
    background-color: #fff0 !important;
    border-color: #51617E !important;
    color: #51617E;
  }
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}
.h {
  &-100vh {
    height: 100vh !important;
  }
  &-80vh {
    height: 80vh !important;
  }
  &-auto {
    height: auto !important;
  }
}
.card {
  border-radius: 12px;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
